<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Profil_Desa_dan_Kelurahan.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <userSettings>
        <Profil_Desa_dan_Kelurahan.My.MySettings>
            <setting name="NO_KK" serializeAs="String">
                <value />
            </setting>
            <setting name="NO_KKAK" serializeAs="String">
                <value />
            </setting>
        </Profil_Desa_dan_Kelurahan.My.MySettings>
    </userSettings>
</configuration>